body {
  font-family: "Proxima Nova Rg";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  border-radius: 2px;
  width: 100%;
  max-width: 220px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 20px;
  transition: all 0.25s ease;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  background-color: #f36b35;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0px 10px 20px rgba(190, 54, 0, 0.15);
}

.main-bg {
  padding-top: 100px;
  font-family: "Gotham Pro";
}

.header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  height: 76px;
  width: 100%;
  position: fixed;
}
.header__container {
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 82px;
}
.header__item {
  font-size: 16px;
  transition: color 0.25s ease;
  color: #c4c4c4;
  text-decoration: none;
}
.header__item:hover {
  color: #fff;
}
.header__item-active {
  color: #fff;
}
.header__item-logo {
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
}
.header__language {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}
.header__language-item {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.header__language-active {
  font-weight: 700;
}

.footer {
  margin-top: 40px;
  margin-bottom: 100px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__nav {
  width: 100%;
  max-width: 680px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer__link {
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #313131;
  font-size: 14px;
  line-height: 100%;
}
.footer__logo {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  color: #434343;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 14px;
}
.footer__copyright {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #8c8c90;
}

.welcome {
  background-color: #c4c4c4;
  background-image: url(./../assets/img/welcome/index-bg.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  padding-top: 80px;
}
.welcome-about {
  background-image: url(./../assets/img/welcome/about-bg.png);
}
.welcome__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  padding-bottom: 140px;
  max-width: 480px;
}
.welcome__title {
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 125%;
  text-transform: uppercase;
  color: #f3f3f3;
}
.welcome__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #c4c4c4;
}

.uptitle {
  width: 100%;
  max-width: 630px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.uptitle__title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  color: #434343;
  padding-bottom: 25px;
}
.uptitle__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #6a6a6a;
}

.newsline {
  display: flex;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 80px;
}
.newsline__item {
  flex: 1 1 100px;
  transition: all 0.25s ease-in-out;
}
.newsline__item:hover {
  transform: translateY(-10px);
}
.newsline__picture {
  width: 100%;
  background-color: #c4c4c4;
}
.newsline__picture-img {
  width: 100%;
  object-fit: cover;
  transition: all 0.25s ease;
}
.newsline__title {
  padding-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  text-align: center;
}

.about-article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.about-article__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  flex: 1 2 300px;
}
.about-article__title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #434343;
}
.about-article__item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  color: #313131;
  padding-bottom: 6px;
}
.about-article__item-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #434343;
}
.about-article__picture {
  width: 50%;
  flex: 2 1 100px;
  margin-left: 100px;
}
.about-article__picture-img {
  width: 100%;
  object-fit: cover;
}

.about-map {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
}
.about-map__img {
  width: 100%;
  object-fit: contain;
  pointer-events: none;
}

/*# sourceMappingURL=all.css.map */
