@import "./variables.scss";

.header {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 76px;
  width: 100%;
  position: fixed;
  z-index: 100;

  &__container {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 82px;
  }

  &__item {
    font-size: $fz16;
    transition: color 0.25s ease;
    color: $gray-light;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  &__item-active {
    color: $white;
  }

  &__item-logo {
    font-size: $fz24;
    color: $white;
    margin-right: 10px;
  }

  &__language {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
  }

  &__language-item {
    color: $white;
    font-size: $fz18;
    font-weight: 400;
    cursor: pointer;
  }

  &__language-active {
    font-weight: 700;
  }
}

.burger-menu {
  position: fixed;
  z-index: 999;
  display: none;
  align-items: flex-start;
  flex-direction: row-reverse;
  transition: 0.5s;
  transform: translateX(-200px);

  &__button {
    margin-top: 10px;
    border-radius: 50%;
    z-index: 1000;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    transition: 0.3s;
    color: $gray-dark;
    background: $white;
    margin-left: 20px;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: all 0.25s;

    &:hover {
      color: $white;
      background: $orange;
    }
  }

  &__nav {
    padding-top: 10px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $orange;
    overflow-y: auto;
    animation-delay: 0s;
    transition: 0.5s linear;
  }

  &__link {
    width: 200px;
    height: 55px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    text-decoration: none;
    color: $white;
    transition: 0.25s;

    &:hover {
      background-color: $orange;
    }
  }

  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 200px;
    width: 100vw;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
  }

  & .header__language {
    margin-top: 20px;
    width: 200px;
    height: 55px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    text-decoration: none;
    color: $white;
    transition: 0.25s;
  }
}
.burger-menu-active {
  transform: translatex(0);
}

@include tablet-small() {
  .header {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
}
